table > tbody > tr > td {
  font-size: 12px !important;
}
.paginate_button.previous {
  background-color: #ececec !important;
  color: #310ecd !important;
  font-weight: bold;
  border-radius: 50px !important;
  font-size: 12px !important;
}
.paginate_button.next {
  background-color: #ececec !important;
  color: #310ecd !important;
  font-weight: bold;
  border-radius: 50px !important;
  font-size: 12px !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
  border: 0 !important;
  border-radius: 50px !important;
  font-size: 12px !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  background: #7356f4 !important;
}
.paginate_button.previous.disabled:hover {
  background: #ececec !important;
}
.paginate_button.next.disabled:hover {
  background: #ececec !important;
}
.paginate_button.previous.disabled {
  background-color: #ececec !important;
  color: #5b5b5b !important;
}
.paginate_button.next.disabled {
  background-color: #ececec !important;
  color: #5b5b5b !important;
}
.datatable-main
  .dataTables_wrapper
  .dataTables_paginate
  .paginate_button.current,
.datatable-main
  .dataTables_wrapper
  .dataTables_paginate
  .paginate_button.current:hover {
  background: #310ecd !important;
  color: #fff !important;
  border-radius: 50% !important;
  font-size: 12px !important;
  border: 0 !important;
}
.dataTable {
  border-collapse: collapse !important;
}
.dataTable tbody tr {
  border-collapse: separate; /* Separación entre las celdas */
  font-weight: bold;
  font-size: 12px;
  white-space: nowrap;
}
.dataTable tbody tr:nth-child(odd) {
  background-color: #f5f7fb;
  /* background-color: #e9e4ff; */
  /* border: 2px solid #2f06d3; */
  /* border-collapse: separate;
  border-spacing: 0; */
}
